import { Body, Controller, Delete, Get, Param, Patch, Post } from '@nestjs/common';
import { CommandBus, QueryBus } from '@nestjs/cqrs';
import { Create<%= classify(name) %>Command } from '../commands/create-<%= dasherize(name) %>/create-<%= dasherize(name) %>.command.js';
import { Delete<%= classify(name) %>Command } from '../commands/delete-<%= dasherize(name) %>/delete-<%= dasherize(name) %>.command.js';
import { Update<%= classify(name) %>Command } from '../commands/update-<%= dasherize(name) %>/update-<%= dasherize(name) %>.command.js';
import { Create<%= classify(name) %>Dto } from '../dtos/create-<%= dasherize(name) %>.dto.js';
import { <%= classify(name) %>ParamsDto } from '../dtos/<%= dasherize(name) %>-params.dto.js';
import { Update<%= classify(name) %>Dto } from '../dtos/update-<%= dasherize(name) %>.dto.js';
import { Get<%= classify(name) %>Query } from '../queries/get-<%= dasherize(name) %>/get-<%= dasherize(name) %>.query.js';
import { List<%= classify(feature) %>Query } from '../queries/list-<%= dasherize(feature) %>/list-<%= dasherize(feature) %>.query.js';

@Controller('<%= dasherize(feature) %>')
export class <%= classify(feature) %>Controller {
  constructor(
    private readonly commandBus: CommandBus,
    private readonly queryBus: QueryBus,
  ) {}

  @Post()
  create(@Body() create<%= classify(name) %>Dto: Create<%= classify(name) %>Dto): Promise<string> {
    return this.commandBus.execute(new Create<%= classify(name) %>Command(create<%= classify(name) %>Dto));
  }

  @Get()
  findAll(): Promise<string> {
    return this.queryBus.execute(new List<%= classify(feature) %>Query());
  }

  @Get(':id')
  findOne(@Param() params: <%= classify(name) %>ParamsDto): Promise<string> {
    return this.queryBus.execute(new Get<%= classify(name) %>Query(params.id));
  }

  @Patch(':id')
  update(
    @Param() params: <%= classify(name) %>ParamsDto,
    @Body() update<%= classify(name) %>Dto: Update<%= classify(name) %>Dto,
  ): Promise<string> {
    return this.commandBus.execute(
      new Update<%= classify(name) %>Command(params.id, update<%= classify(name) %>Dto),
    );
  }

  @Delete(':id')
  remove(@Param() params: <%= classify(name) %>ParamsDto): Promise<string> {
    return this.commandBus.execute(new Delete<%= classify(name) %>Command(params.id));
  }
}
